<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VNnews - Trang thu thập tin tức Việt Nam</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../images/favorite-icon.png">
    <link rel="shortcut icon" href="../../images/favorite-icon.png">

    <link rel="stylesheet" href="../../assets/css/custom.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="../../assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="../../assets/css/style.css">

    <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart { 
            min-height: 335px; 
        }
        #flotPie1  {
            height: 150px;
        } 
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        } 

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>

</head>
<body>


    <!-- Left Panel --> 
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default"> 
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="../../index.html"><i class="menu-icon fa fa-laptop"></i>Thống kê </a>
                    </li>
                    <li class="">
                        <a href="../sources/index.html"><i class="menu-icon fa fa-cogs"></i>Nguồn tin </a>
                    </li>
                    <li class="">
                        <a href="../categories/index.html"><i class="menu-icon fa fa-book"></i>Chuyên mục </a>
                    </li>
                    <li class="">
                        <a href="../assessments/index.html"><i class="menu-icon fa fa-id-card-o"></i>Khung tiêu chí đánh giá </a>
                    </li>
                    <li class="">
                        <a href="../assessment_rules/index.html"><i class="menu-icon fa fa-map-o"></i>Tiêu chí đánh giá </a>
                    </li>
                    <li class="">
                        <a href="../articles/index.html"><i class="menu-icon fa fa-file-word-o"></i>Bài viết </a>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="menu-icon fa fa-users"></i>User </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel --> 
    <!-- Left Panel -->



    <!-- Right Panel --> 
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">  
            <div class="top-left">
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="../../index.html">VietNam News</a>
                    <!-- <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>  -->
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a> 
                </div> 
            </div>
            <div class="top-right"> 
                <div class="header-menu"> 
                    <div class="header-left">
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../../images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i>Thông tin cá nhân</a>

                            <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>Thông báo <span class="count">13</span></a>

                            

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Đăng xuất</a>
                        </div>
                    </div> 
                </div>  
            </div>
        </header><!-- /header -->
        <!-- Header-->

        <div class="content">
			<div class="card">
					<div class="card-header">
            <strong>Cập nhật người dùng</strong>
            <a href="edit.html" class="btn btn-primary pull-right">Cập nhật</a>
          </div>
					<div class="card-body card-block">
            <fieldset disabled>
              <div class="form-group">
                <label for="txtName" class=" form-control-label required">Tên</label>
                <input type="text" id="txtName" placeholder="Nhập tên nguồn" class="form-control" value="Thuỳ" required>
              </div>
              <div class="form-group">
                  <label for="txtFullName" class=" form-control-label required">Tên đầy đủ</label>
                  <input type="text" id="txtFullName" placeholder="Nhập tên nguồn" class="form-control" value="Nguyễn Như Thuỳ" required>
                </div>
              <div class="form-group">
                <label for="txtEmail" class=" form-control-label required">Email</label>
                <input type="text" id="txtEmail" placeholder="Đường dẫn URL" class="form-control" value="thuynguyennhu97@gmail.com" disabled>
              </div>
              <div class="form-group">
                <label for="txtAddress" class=" form-control-label required">Địa chỉ</label>
                <input type="text" id="txtAddress" placeholder="Xác định chuyên mục" class="form-control" value="Hoàng Liệt - Hoàng Mai - Hà Nội" required>
              </div>
              <div class="form-group">
                <label for="txtAddress" class=" form-control-label">Số điện thoại</label>
                <input type="text" id="txtAddress" placeholder="Xác định chuyên mục" class="form-control" value="0334492484">
              </div>
              <div class="form-group">
                <label for="dateBỉthday" class=" form-control-label">Ngày sinh</label>
                <input type="date" id="dateBỉthday" class="form-control" value="1997-04-19">
              </div>
              <div class="form-group">
                <label for="txtWorkable" class=" form-control-label">Tình trạng</label>
                <span class="alert alert-success">Còn làm việc</span>
              </div>
              <div class="form-group">
                <label for="selectRole" class=" form-control-label">Vai trò</label>
                <select name="selectRole" id="selectRole" class="form-control-sm form-control">
                    <option value="0">-- Vai trò --</option>
                    <option value="1">Thành viên</option>
                    <option value="2">Quản lý nội dung</option>
                    <option value="3">Người duyệt nội dung</option>
                    <option value="4" selected>Adminitrator</option>
                </select>
              </div>
            </fieldset>
					</div>
			</div>
		</div><!-- .content -->
        <div class="clearfix"></div>
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Ela Admin
                    </div>
                    <div class="col-sm-6 text-right">
                        Được xây dựng bởi <a href="#">Nhóm SV 1 - ĐH Công nghiệp Hà Nội</a>
                    </div>
                </div>
            </div>
        </footer>
	</div><!-- /#right-panel -->
    <script src="../../assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>
</html>
